.decor_search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.lable {
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.56);
}

.input {
  width: 50%;
  border: none;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 1px 2px 1px 0px #2e2f4214, 1px 3px 15px 6px #422e3a29,
    0px 1px 6px 0px #2e2f4214;

  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.input:hover,
.input:focus {
  box-shadow: 1px 2px 1px 0px #454bbf14, 1px 3px 15px 6px #7260c429,
    0px 1px 6px 0px #4046b614;
}
