@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  outline: none;
}

section {
  padding: 40px 50px;
  width: 400px;
  box-shadow: 1px 2px 1px 0px #2e2f4214, 1px 3px 15px 6px #422e3a29,
    0px 1px 6px 0px #2e2f4214;
}

h2 {
  margin-bottom: 20px;
}

.not_found {
  text-align: center;
}
